{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <form  method="post" action="{% url 'login' %}" class="inputs">
            {% csrf_token %}
            {{error}}
            <input type="text" name="Username">
            <input type="password" name="password">
            <button class="sub" type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>